<!DOCTYPE html>
<html>
  <head>
    <title>Random Commander</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <main class="docs">
      <div container>
        <h1 class="heading--docs">{{ name }}</h1>
        <p class="text--center">
          <a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid={{verse_id}}">
            <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{verse_id}}&type=card">
          </a>
        </p>
        <p class="text--center">
          <a id="generate" href="{{ url_for('index')}}" title="Hit me again!">Hit me again!</a>
        </p>
      </div>
    </main>
  </body>
</html>